{
  "extends": ["transloadit", "prettier"],
  "env": {
    "es6": true,
    "node": false,
    "jest": false,
    "browser": false,
    "shared-node-browser": true,
    "jasmine": false
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "requireConfigFile": false
  },
  "rules": {
    // Rules from the transloadit preset we actually allow in tus-js-client
    ////////////////////////////////////////////////////////////
    "class-methods-use-this": ["off"],
    "no-use-before-define": ["off"],
    "no-param-reassign": ["off"],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": ["test/**/*.js"]
      }
    ],
    "import/extensions": ["error", "ignorePackages"]
  },
  "overrides": [
    {
      "files": ["lib/browser/**/*.js", "demos/**/*.js"],
      "env": {
        "browser": true
      }
    },
    {
      "files": ["lib/node/**/*.js"],
      "env": {
        "node": true
      },
      "rules": {
        "no-restricted-globals": [
          "error",
          {
            "name": "__filename",
            "message": "Use import.meta.url instead"
          },
          {
            "name": "__dirname",
            "message": "Not available in ESM"
          },
          {
            "name": "exports",
            "message": "Not available in ESM"
          },
          {
            "name": "module",
            "message": "Not available in ESM"
          },
          {
            "name": "require",
            "message": "Use import instead"
          }
        ]
      }
    },
    {
      "files": ["test/**/*.js", "demos/**/*.js"],
      "env": {
        "browser": true,
        "node": true,
        "jasmine": true
      },
      "parserOptions": {
        "sourceType": "script"
      },
      "rules": {
        "import/extensions": "off"
      }
    }
  ]
}
