# ESLint ignores the root node_modules directory by default but not other node_modules folders
demos/*/node_modules
demos/cordova/platforms
demos/cordova/plugins
demos/cordova/www/js/tus.js
demos/reactnative
lib.esm
lib.es5
dist
