{
  "extends": [
    "transloadit"
  ],
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "jasmine": true
  },
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
  }
}
