{
  "extends": [
    "transloadit"
  ],
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "jasmine": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "requireConfigFile": false
  },
  "rules": {
    // transloadit rules we are actually ok with in the tus-js-client repo
    ////////////////////////////////////////////////////////////
    "class-methods-use-this": ["off"],


    // rules we had to turn off just to get a pass, but we'd
    // like to turn on one by one with separate PRs
    ////////////////////////////////////////////////////////////

    // Used so many places
    "no-underscore-dangle": ["off"]
  }
}
