name: CI
on:
  push:
  pull_request:
    types:
      - opened
      - synchronize
jobs:
  tests:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        include:
          - desc: 'Puppeteer'
            suite: 'puppeteer'
          - desc: 'Node.js 20'
            suite: 'node'
            node: 20
          - desc: 'Node.js 22'
            suite: 'node'
            node: 22
          - desc: 'Node.js 24'
            suite: 'node'
            node: 24
    name: Tests (${{ matrix.desc }})
    steps:
      - name: Check out sources
        uses: actions/checkout@v6
        with:
          fetch-depth: 1
      - name: Git Clean
        run: git clean -fxd --exclude=node_modules/
      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node || 24 }}
      - name: Install dependencies
        uses: sergioramos/yarn-actions/install@v6
        with:
          frozen-lockfile: true
      - name: Build
        uses: sergioramos/yarn-actions/run@v6
        with:
          script: build
      - name: Lint
        uses: sergioramos/yarn-actions/run@v6
        with:
          script: lint
      - name: Test
        uses: sergioramos/yarn-actions/run@v6
        with:
          script: test-${{ matrix.suite }}
  lint:
    name: Linter
    runs-on: ubuntu-22.04
    steps:
      - name: Check out sources
        uses: actions/checkout@v6
        with:
          fetch-depth: 1
      - name: Git Clean
        run: git clean -fxd --exclude=node_modules/
      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node || 24 }}
      - name: Install dependencies
        uses: sergioramos/yarn-actions/install@v6
        with:
          frozen-lockfile: true
      - name: Build
        uses: sergioramos/yarn-actions/run@v6
        with:
          script: build
      - name: Lint
        uses: sergioramos/yarn-actions/run@v6
        with:
          script: lint
