name: CI
on:
  push:
  pull_request:
    types:
      - opened
      - synchronize
jobs:
  tests:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        include:
          - desc: 'Puppeteer'
            suite: 'puppeteer'
          - desc: 'Node.js 20'
            suite: 'node'
            node: 20
          - desc: 'Node.js 22'
            suite: 'node'
            node: 22
          - desc: 'Node.js 24'
            suite: 'node'
            node: 24
    name: Tests (${{ matrix.desc }})
    steps:
      - name: Check out sources
        uses: actions/checkout@v6
      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node || 24 }}
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build
      - name: Test
        run: npm run test-${{ matrix.suite }}
  lint:
    name: Linter
    runs-on: ubuntu-22.04
    steps:
      - name: Check out sources
        uses: actions/checkout@v6
      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node || 24 }}
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build
      - name: Lint
        run: npm run lint
